.results {
    // @include default-page-layout();
    height: 100vh;
    width: 66vw;
    display: grid;

    margin-top: 52px;
    grid-row-gap: 44px;
}

.results-post {
    display: grid;
    grid-row-gap: 21px;
    
    &__wrapper {

        &__posts {
            display: grid;
            grid-row-gap: 20px;
            justify-content: stretch;
        }

    }
}

.result-post {
    display: grid;
    align-content: space-around;
    grid-row-gap: 22px;
    &__topics > * {
        color: $color-blue-one;
        font-size: 14px;
        line-height: 17px;
        font-weight: normal;
    }
    &__title a {
        color: $color-gray-one;
        font-size: 18px;
        line-height: 22px;
    }
    &__links {
        display: flex;
    }
}

.post-link {
    min-height: 70px;
    display: flex;
    flex-basis: 205px;
    margin-right: 37px;

    &__box {
        min-width: 70px;
        background-color: $color-gray-two;
        margin-right: 16px;
    }

    &__link a {
        color: $color-gray-three;
        font-size: 14px;
        line-height: 17px;
    }
}